body{
 background: #ecf0f1;
}
a:link, a:visited{
 text-decoration: none;
}
a:hover{
 color: #f00;
}
.title, .pagination{
 width: 600px;
 margin: 0 auto;
 margin-bottom: 20px;
}
.title{
 background: #3498db;
 padding: 20px;
 line-height: 1.5;
}
.title a{
 color: #fff;
}
.title a:hover{
 color: #e67e22;
}
